In [23]:
import requests
import pandas as pd
from tmdb_apikey import api_key
from bs4 import BeautifulSoup

In [24]:
# gather the movie titles and movie IDs using the API. The IDs give the full details of the movie.
movies = []
movies_id = []
for i in range(13):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?', params={'api_key': api_key, 'page': i+1})
    r = response.json()
    for film in r['results']:
        movies.append(film['title'])
        movies_id.append(film['id'])
        if len(movies) == 250:
            break
        if len(movies_id) == 250:
            break

In [25]:
response = requests.get('https://api.themoviedb.org/3/movie/' + str(movies_id[1]), params={'api_key': api_key})
response.json()

{'adult': False,
 'backdrop_path': '/wPU78OPN4BYEgWYdXyg0phMee64.jpg',
 'belongs_to_collection': None,
 'budget': 25000000,
 'genres': [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}],
 'homepage': '',
 'id': 278,
 'imdb_id': 'tt0111161',
 'original_language': 'en',
 'original_title': 'The Shawshank Redemption',
 'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
 'popularity': 77.331,
 'poster_path': '/hBcY0fE9pfXzvVaY4GKarweriG2.jpg',
 'production_companies': [{'id': 97,
   'logo_path': '/7znWcbDd4PcJzJUlJxYqAlPPykp.png',
   'name': 'Castle Rock Entertainment',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1994-09-23',
 'revenue': 28341469,
 'runtime': 142,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Fear can hold you prisoner. Hope can set you free.',
 'title': 'The Shawshank Redemption',
 'video': False,
 'vote_average': 8.702,
 'vote_count': 23443}

In [26]:
# collect data for all relevant parameters for our analysis
movies_revenue = []
ratings = []
release_dates = []
budget = []
genres = []
source = []
runtime = []
imdb_id = []
users_rated = []
for i in range(250):
    response = requests.get('https://api.themoviedb.org/3/movie/' + str(movies_id[i]), params={'api_key': api_key})
    r = response.json()
    ratings.append(round(r['vote_average']*10))
    release_dates.append(r['release_date'])
    runtime.append(r['runtime'])
    list_genres = []
    imdb_id.append(r['imdb_id'])
    users_rated.append(r['vote_count'])
    for i in range(len(r['genres'])):
        if r['genres'][i]['name'] == 'Science Fiction':
            list_genres.append('Sci-Fi')
        else:
            list_genres.append(r['genres'][i]['name'])
    # many films have more than one genre, some have just one. For those films with more than one, they are put in a list, then place in the list of genres. For those films with one genre, they were just put in the list of genres
    if len(list_genres)>1:
        genres.append(list_genres)
    elif len(list_genres)==1:
        genres.append(str(list_genres).strip("['']"))
    if r['budget']>0:
        budget.append(r['budget'])
    else:
        budget.append(None)
    if r['revenue']>0:
        movies_revenue.append(r['revenue'])
    else:
        movies_revenue.append(None)
    source.append('TMDB')

In [27]:
directors = []
for i in range(250):
    response = requests.get('https://api.themoviedb.org/3/movie/' + str(movies_id[i]) + '/credits?', params={'api_key':api_key})
    r = response.json()
    list_directors = []
    for d in r['crew']:
        if d['job'] == 'Director':
            list_directors.append(d['name'])
    directors.append(list_directors)
    if len(directors[i])==1:
        directors[i] = str(directors[i]).strip("['']")
# those films with more than one director were placed in a list, those films with just one director were just placed in the list of directors

In [28]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

In [29]:
# Wherever possible, replace missing revenue values with the values found in IMDb for the movie
for i in range(250):
    if movies_revenue[i] == None:
        response = requests.get('https://www.imdb.com/title/' + str(imdb_id[i]), headers=headers)
        soup = BeautifulSoup(response.content, 'html.parser')
        try:
            s = soup.find('li', attrs={'class':'ipc-metadata-list__item sc-6d4f3f8c-2 byhjlB', 'role':"presentation", 'data-testid':"title-boxoffice-cumulativeworldwidegross"})
            ms = (s.get_text()).replace('Gross worldwide', '')
            movies_revenue[i] = int((ms.replace(',', ''))[1:])
        except:
            continue
movies_revenue

[245066411,
 28341469,
 2028077,
 102600000,
 321365567,
 100000000,
 None,
 274925095,
 1000000,
 357986087,
 257591776,
 1004558444,
 286801374,
 214179088,
 25253887,
 677387716,
 1385351,
 1118888979,
 None,
 46835000,
 None,
 11990401,
 346300,
 230098753,
 None,
 5472914,
 516962,
 32052925,
 100853753,
 None,
 197251,
 48045728,
 108981275,
 30641770,
 375540831,
 236049757,
 None,
 30156463,
 871368364,
 538400000,
 701729206,
 15222,
 108099,
 120072577,
 13092000,
 926287400,
 4903192,
 None,
 5000000,
 461000000,
 327311859,
 20347513,
 825532764,
 20000000,
 37034514,
 23875127,
 11000000,
 None,
 55240,
 272742922,
 4250000,
 159414369,
 45284974,
 235860116,
 1315376,
 46808,
 463618,
 381109762,
 36368,
 20339624,
 1266570,
 87212911,
 10195760,
 92600000,
 92300000,
 None,
 1488732821,
 None,
 5380118,
 150000000,
 33187,
 168817,
 5252,
 None,
 112536,
 503063688,
 930363,
 43862,
 21057208,
 426588510,
 None,
 19289062,
 2799439100,
 3494070,
 15194593,
 108967,
 2046239637,
 None,
 225879065,
 24012,
 9644124,
 90556,
 763455561,
 37767206,
 77430,
 117948,
 3061268,
 319700000,
 None,
 55060661,
 None,
 436655,
 33766787,
 None,
 37880,
 800526015,
 9000000,
 25000000,
 33748006,
 44781695,
 26589000,
 None,
 195870885,
 311212,
 None,
 None,
 112790210,
 321457747,
 10841702,
 2500000,
 775398007,
 29900850,
 None,
 481840909,
 465361176,
 109676311,
 196375,
 463517383,
 23341568,
 385067,
 294800000,
 7797728,
 4300000,
 216639112,
 39723096,
 175302354,
 None,
 10000000,
 34934009,
 None,
 9923127,
 None,
 43143046,
 None,
 None,
 1074458282,
 64978931,
 None,
 10462500,
 28570902,
 66023329,
 291465000,
 650422,
 39273021,
 305937718,
 7200000,
 None,
 425368238,
 136384442,
 1457,
 None,
 None,
 5267,
 None,
 8400000,
 21029340,
 19647000,
 5078942,
 2500000,
 225933435,
 None,
 None,
 46357676,
 60418,
 5596708,
 2859750,
 46808,
 None,
 104931801,
 28356188,
 9523464,
 96568,
 None,
 None,
 264118201,
 9500000,
 30000000,
 25000000,
 946947,
 None,
 None,
 837000,
 None,
 1341511219,
 None,
 156878,
 12854953,
 24366656,
 125983972,
 35566,
 46808,
 72258126,
 4496583,
 18309793,
 2181987,
 160192031,
 6788659,
 520000000,
 77208711,
 31500000,
 121616555,
 None,
 24200000,
 56088478,
 85000000,
 233503234,
 140312928,
 None,
 71923560,
 None,
 122126687,
 127244,
 81927980,
 61779301,
 521311860,
 45000000,
 None,
 26000000,
 15300000,
 1486553,
 None,
 2693053,
 42345360,
 14759148,
 36752010,
 11328,
 82468705,
 66316289,
 235956898,
 26010864]

In [38]:
year_releases = []
for i in range(250):
    year_releases.append(release_dates[i][:4])

In [39]:
year_releases

['1972',
 '1994',
 '2022',
 '1974',
 '1993',
 '1995',
 '2022',
 '2001',
 '1957',
 '2016',
 '2019',
 '2008',
 '1999',
 '1994',
 '1966',
 '1994',
 '2016',
 '2003',
 '2020',
 '1990',
 '2019',
 '1988',
 '1954',
 '1997',
 '2020',
 '1984',
 '1988',
 '1960',
 '1999',
 '2020',
 '2021',
 '2019',
 '1975',
 '2002',
 '2018',
 '2004',
 '2011',
 '2016',
 '2001',
 '1980',
 '2014',
 '1962',
 '2020',
 '2002',
 '2014',
 '2002',
 '2000',
 '2022',
 '1950',
 '2022',
 '1995',
 '2018',
 '2010',
 '1997',
 '1954',
 '1998',
 '1940',
 '2013',
 '1952',
 '1991',
 '1931',
 '1997',
 '1994',
 '1989',
 '2019',
 '1963',
 '1936',
 '1985',
 '1940',
 '2020',
 '2020',
 '2021',
 '2019',
 '2019',
 '2021',
 '2018',
 '2022',
 '2020',
 '1968',
 '1979',
 '1960',
 '1985',
 '1957',
 '1964',
 '1997',
 '2020',
 '2020',
 '2020',
 '1998',
 '2011',
 '2020',
 '2019',
 '2019',
 '2014',
 '2003',
 '2022',
 '2018',
 '2019',
 '2019',
 '2019',
 '1946',
 '1966',
 '1994',
 '2016',
 '1991',
 '1974',
 '2019',
 '2018',
 '1994',
 '2012',
 '2020',
 '1948',
 '2019',
 '1962',
 '1953',
 '2017',
 '1957',
 '1960',
 '2018',
 '1980',
 '1971',
 '2020',
 '2021',
 '1957',
 '2021',
 '2022',
 '2018',
 '2009',
 '2019',
 '1921',
 '1977',
 '2019',
 '2021',
 '1998',
 '2000',
 '2006',
 '1963',
 '1999',
 '1995',
 '1979',
 '2010',
 '1958',
 '2018',
 '2011',
 '2000',
 '2016',
 '2020',
 '2013',
 '2018',
 '2012',
 '2019',
 '1970',
 '2017',
 '1983',
 '1974',
 '2019',
 '2018',
 '2016',
 '1942',
 '1976',
 '1983',
 '2006',
 '1927',
 '2019',
 '2017',
 '1952',
 '2019',
 '2012',
 '2020',
 '1945',
 '2019',
 '2021',
 '1954',
 '1975',
 '1950',
 '2020',
 '1960',
 '2019',
 '1944',
 '1997',
 '2020',
 '1985',
 '1987',
 '1957',
 '1998',
 '1992',
 '1961',
 '1959',
 '1979',
 '1998',
 '1964',
 '1950',
 '2021',
 '2018',
 '1998',
 '2020',
 '2017',
 '1959',
 '2017',
 '2016',
 '1924',
 '2005',
 '1958',
 '2011',
 '1996',
 '1966',
 '2000',
 '2013',
 '2017',
 '1931',
 '1965',
 '2004',
 '1993',
 '2012',
 '1984',
 '2017',
 '2010',
 '1991',
 '2007',
 '2011',
 '2005',
 '2019',
 '2020',
 '2021',
 '1981',
 '2021',
 '2016',
 '2009',
 '1968',
 '2015',
 '2013',
 '1959',
 '2017',
 '2021',
 '2008',
 '1988',
 '1977',
 '2003',
 '1995',
 '2020',
 '1956',
 '2003',
 '2010',
 '2007',
 '2022',
 '1960',
 '2019',
 '2018',
 '2016',
 '1980']

In [40]:
data = {'movie': movies[:250], 'director': directors[:250], 'genre': genres[:250], 'rating': ratings[:250], 'box office': movies_revenue[:250], 'release date': release_dates[:250], 'length': runtime[:250], 'data source': source[:250], 'users voted': users_rated, 'release year': year_releases}

In [41]:
df = pd.DataFrame(data)
df.to_csv('tmdb_raw_data.csv')
df

,movie,director,genre,rating,box office,release date,length,data source,users voted,release year
0,The Godfather,Francis Ford Coppola,"[Drama, Crime]",87,245066411.0,1972-03-14,175,TMDB,17604,1972
1,The Shawshank Redemption,Frank Darabont,"[Drama, Crime]",87,28341469.0,1994-09-23,142,TMDB,23443,1994
2,Cuando Sea Joven,Raúl Martínez,"[Comedy, Fantasy]",87,2028077.0,2022-09-14,115,TMDB,211,2022
3,The Godfather Part II,Francis Ford Coppola,"[Drama, Crime]",86,102600000.0,1974-12-20,202,TMDB,10662,1974
4,Schindler's List,Steven Spielberg,"[Drama, History, War]",86,321365567.0,1993-12-15,195,TMDB,13865,1993
...,...,...,...,...,...,...,...,...,...,...
245,Rocco and His Brothers,Luchino Visconti,"[Crime, Drama]",81,11328.0,1960-10-06,178,TMDB,469,1960
246,Jojo Rabbit,Taika Waititi,"[Comedy, War, Drama]",81,82468705.0,2019-10-18,108,TMDB,8261,2019
247,"Love, Simon",Greg Berlanti,"[Comedy, Drama, Romance]",81,66316289.0,2018-02-16,110,TMDB,5612,2018
248,Hidden Figures,Theodore Melfi,"[Drama, History]",81,235956898.0,2016-12-10,127,TMDB,8494,2016
249,The Elephant Man,David Lynch,"[Drama, History]",81,26010864.0,1980-10-09,124,TMDB,2966,1980

In [42]:
# separate films by director (some films have more than one director, so this dataframe separate those lists)
df_2 = df.explode('director')
df_2.to_csv('tmb_dir_sep.csv')
df_2

,movie,director,genre,rating,box office,release date,length,data source,users voted,release year
0,The Godfather,Francis Ford Coppola,"[Drama, Crime]",87,245066411.0,1972-03-14,175,TMDB,17604,1972
1,The Shawshank Redemption,Frank Darabont,"[Drama, Crime]",87,28341469.0,1994-09-23,142,TMDB,23443,1994
2,Cuando Sea Joven,Raúl Martínez,"[Comedy, Fantasy]",87,2028077.0,2022-09-14,115,TMDB,211,2022
3,The Godfather Part II,Francis Ford Coppola,"[Drama, Crime]",86,102600000.0,1974-12-20,202,TMDB,10662,1974
4,Schindler's List,Steven Spielberg,"[Drama, History, War]",86,321365567.0,1993-12-15,195,TMDB,13865,1993
...,...,...,...,...,...,...,...,...,...,...
245,Rocco and His Brothers,Luchino Visconti,"[Crime, Drama]",81,11328.0,1960-10-06,178,TMDB,469,1960
246,Jojo Rabbit,Taika Waititi,"[Comedy, War, Drama]",81,82468705.0,2019-10-18,108,TMDB,8261,2019
247,"Love, Simon",Greg Berlanti,"[Comedy, Drama, Romance]",81,66316289.0,2018-02-16,110,TMDB,5612,2018
248,Hidden Figures,Theodore Melfi,"[Drama, History]",81,235956898.0,2016-12-10,127,TMDB,8494,2016
249,The Elephant Man,David Lynch,"[Drama, History]",81,26010864.0,1980-10-09,124,TMDB,2966,1980

In [43]:
df_3 = df.explode('genre')
df_3.to_csv('tmdb_genre_sep.csv')
df_3

,movie,director,genre,rating,box office,release date,length,data source,users voted,release year
0,The Godfather,Francis Ford Coppola,Drama,87,245066411.0,1972-03-14,175,TMDB,17604,1972
0,The Godfather,Francis Ford Coppola,Crime,87,245066411.0,1972-03-14,175,TMDB,17604,1972
1,The Shawshank Redemption,Frank Darabont,Drama,87,28341469.0,1994-09-23,142,TMDB,23443,1994
1,The Shawshank Redemption,Frank Darabont,Crime,87,28341469.0,1994-09-23,142,TMDB,23443,1994
2,Cuando Sea Joven,Raúl Martínez,Comedy,87,2028077.0,2022-09-14,115,TMDB,211,2022
...,...,...,...,...,...,...,...,...,...,...
247,"Love, Simon",Greg Berlanti,Romance,81,66316289.0,2018-02-16,110,TMDB,5612,2018
248,Hidden Figures,Theodore Melfi,Drama,81,235956898.0,2016-12-10,127,TMDB,8494,2016
248,Hidden Figures,Theodore Melfi,History,81,235956898.0,2016-12-10,127,TMDB,8494,2016
249,The Elephant Man,David Lynch,Drama,81,26010864.0,1980-10-09,124,TMDB,2966,1980
249,The Elephant Man,David Lynch,History,81,26010864.0,1980-10-09,124,TMDB,2966,1980

In [44]:
df_4 = df_2.explode('genre')
df_4
df_4.to_csv('tmdb_gendir_sep.csv')

In [35]:
df_i = df_2.sort_values('director')
(df_i.explode('genre')).to_csv('tmdb_gendir_sep.csv')

In [36]:
df_i

,movie,director,genre,rating,box office,release date,length,data source,users voted
5,Dilwale Dulhania Le Jayenge,Aditya Chopra,"[Comedy, Drama, Romance]",86,100000000.0,1995-10-19,190,TMDB,4080
210,Red Beard,Akira Kurosawa,Drama,81,46808.0,1965-04-03,185,TMDB,272
65,High and Low,Akira Kurosawa,"[Crime, Drama, Mystery, Thriller]",83,46808.0,1963-03-01,142,TMDB,680
186,Yojimbo,Akira Kurosawa,"[Drama, Thriller]",81,46808.0,1961-04-25,110,TMDB,1177
22,Seven Samurai,Akira Kurosawa,"[Action, Drama]",85,346300.0,1954-04-26,207,TMDB,2981
...,...,...,...,...,...,...,...,...,...
93,Mommy,Xavier Dolan,Drama,83,3494070.0,2014-09-19,138,TMDB,2449
114,Tokyo Story,Yasujirō Ozu,Drama,82,37880.0,1953-11-03,137,TMDB,856
124,Zack Snyder's Justice League,Zack Snyder,"[Action, Adventure, Fantasy, Sci-Fi]",82,NaN,2021-03-18,242,TMDB,8669
223,New Gods: Nezha Reborn,Zhao Ji,"[Animation, Action, Fantasy]",81,56088478.0,2021-02-06,116,TMDB,339
89,The Intouchables,Éric Toledano,"[Drama, Comedy]",83,426588510.0,2011-11-02,113,TMDB,15530